* {
  padding: 5px;
}

img {
  height: 60px;
}

#jumbotron {
  border: 1px solid black;
  box-shadow: 5px 5px 5px #d5552d;
}

#surveyButton {
  background-color: #d5552d;
  color: black;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #d5552d;
}

#surveyButton:hover {
  background-color: grey;
}

.question-text {
  font-size: 30px;
}

.q {
  width: 300px;
}

.form-group {
  border: 1px solid black;
  border-radius: 5px;
}

#submit {
  border: 1px solid black;
}

#submit:hover {
  background-color: red;
}
